{% extends 'partials/base.html' %}  <!-- Attach base File-->

{% block title %}supplier page{% endblock %}

{% load crispy_forms_tags %}  <!-- form styling -->


{% block content %}

{% include 'partials/topnav.html' %}   <!-- Attach nav File -->

<!--supplier code page-->
<div class="container">
<div class="row my-4">
    <div class="col-md-4">
        {% for message in messages %}
        {% if message %}
        <div class="alert alert-{{ message.tags }}">
           {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        <div class="card card-body">
            <h5>Add New Supplier</h5>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}

                <input class="btn btn-success btn-block" type="submit" value="Add">
            </form>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col"> Supplier Name</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Activity</th>
                </tr>
            </thead>
            <tbody>
                {% for dealer in dealers %}
                <tr>
                    <td>{{ dealer.supplier_name }}</td>
                    <td>{{ dealer.supplier_product }}</td>
                    <td>{{ dealer.category }}</td>
                    <td>{{ dealer.supplier_quantity }}</td>
                    <td>
                        <a class="btn btn-info btn-sm mr-2"
                            href="{% url 'dashboard-supplier-update' dealer.id %}">Edit</a>
                        <a class="btn btn-danger btn-sm ml-2"
                            href="{% url 'dashboard-supplier-delete' dealer.id %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
{% endblock %}